extends layout

block content
        h1= title
        form(method='get' action="/books")
        a.button(type=submit) Create New Book
        p
          table 
            tr
              th Title
              th Author 
              th Genre 
              th Year
            each book in books
              tr 
                td 
                  a(href='/books') #{book.title}
                td #{book.author}
                td #{book.genre}
                td #{book.year}
