extends layout

block content
    h1= title
    include form-error
    form(method="get" action=`/books/:id`)
    
        label(for="title") Title
        input(type='text' id='title' name='title' value=book.title) 
    p
        label(for='author') Author
        input(type='text' id='author' name='author' value=book.author) 
    p
        label(for='genre') Genre 
        input(type='text' id='genre' name='genre' value=book.genre) 
    p
        label(for='year') Year 
        input(type='text' id='year' name='year' value=book.year) 
    p  
    form(method="post")
    a.button(type='submit' formaction=`/books/:id/update` href='/books') Update Book
    p     
    form
    a.button(type='submit' href='/books') Cancel
    p     
    form(method="post")
    a.button(type='submit' formaction=`/books/:id/delete` href='/books') Delete Book
    